<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adding Match</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/mainCss.css">
</head>
<body>
<br>
<form action="/matches/new" th:object="${matchEntity}" method="post">

    <label class="label" for="homeTeamId"> Дома:
        <select class="select-style" name="homeTeam" id="homeTeamId" th:field="*{homeTeam}">
            <div th:each="team : ${teamsList}">
                <option th:value="${team.getTeamId()}" th:text="${team.getName()}"></option>
            </div>
        </select>
    </label>
    <div>
        <label class="label" for="guestTeamId">В гостях:
            <select class="select-style" name="guestTeam" id="guestTeamId" th:field="*{guestTeam}">
                <div th:each="team : ${teamsList}">
                    <option th:value="${team.getTeamId()}" th:text="${team.getName()}"></option>
                </div>
            </select>
        </label>
    </div>
    <div>
        <label class="label">СЧЕТ:
            <input class="input" type="text" id="score" th:field="${matchEntity.score}"/>
        </label>
    </div>
    <div>
        <label class="label" for="mainArbitreId">Главный судья:
            <select class="select-style" name="mainArbitre" id="mainArbitreId" th:field="*{mainJudge}">
                <div th:each="arbiter : ${arbitersList}">
                    <option th:value="${arbiter.getArbitreId()}" th:text="${arbiter.getName()}"/>
                </div>
            </select>
        </label>
    </div>
    <div>
        <label class="label" for="secondArbiter">Второй судья:
            <select class="select-style" name="setSecondArbiter" id="secondArbiter" th:field="*{secondJudge}">
                <div th:each="arbiter : ${arbitersList}">
                    <option th:value="${arbiter.getArbitreId()}" th:text="${arbiter.getName()}"/>
                </div>
            </select>
        </label>
    </div>
    <div>
        <label class="label" for="thridArbiter">Третий судья:
            <select class="select-style" name="setThirdArbiter" id="thridArbiter" th:field="*{thirdJudge}">
                <div th:each="arbiter : ${arbitersList}">
                    <option th:value="${arbiter.getArbitreId()}" th:text="${arbiter.getName()}"/>
                </div>
            </select>
        </label>
    </div>
    <div>
        <label class="label">Стадион:
            <input class="input" type="text" id="stadion" th:field="${matchEntity.stadion}"/>
        </label>
    </div>

    <input type="submit" class="btn" value="Add Match">
</form>
<div><a href="/home" class="btn">Главная страница</a></div>
</body>
</html>