<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adding Match</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/mainCss.css">
</head>
<body>
<br>
<form action="/matches/new" th:object="${matchEntity}" method="post">
    <label for="homeTeamId"> Дома:
        <select name="homeTeam" id="homeTeamId" th:field="*{homeTeam}">
            <div th:each="team : ${teamsList}">
                <option th:value="${team.getTeamId()}" th:text="${team.getName()}"></option>
            </div>
        </select>
    </label>
    <div>
        <label for="guestTeamId">GUEST TEAM
            <select name="guestTeam" id="guestTeamId" th:field="*{guestTeam}">
                <div th:each="team : ${teamsList}">
                    <option th:value="${team.getTeamId()}" th:text="${team.getName()}"></option>
                </div>
            </select>
        </label>
    </div>
    <div>
        <label>СЧЕТ
            <input type="text" id="score" th:field="${matchEntity.score}"/>
        </label>
    </div>
    <div>
        <label for="mainArbitreId">Главный судья
            <select name="mainArbitre" id="mainArbitreId" th:field="*{mainJudge}">
                <div th:each="arbiter : ${arbitersList}">
                    <option th:value="${arbiter.getArbitreId()}" th:text="${arbiter.getName()}"/>
                </div>
            </select>
        </label>
    </div>
    <div>
        <label for="secondArbiter">Второй судья
            <select name="setSecondArbiter" id="secondArbiter" th:field="*{secondJudge}">
                <div th:each="arbiter : ${arbitersList}">
                    <option th:value="${arbiter.getArbitreId()}" th:text="${arbiter.getName()}"/>
                </div>
            </select>
        </label>
    </div>
    <div>
        <label for="thridArbiter">Третий судья
            <select name="setThirdArbiter" id="thridArbiter" th:field="*{thirdJudge}">
                <div th:each="arbiter : ${arbitersList}">
                    <option th:value="${arbiter.getArbitreId()}" th:text="${arbiter.getName()}"/>
                </div>
            </select>
        </label>
    </div>
    <div>
        <label>Стадион
            <input type="text" id="stadion" th:field="${matchEntity.stadion}"/>
        </label>
    </div>

    <input type="submit" value="Add Match">
</form>
<div><a href="/home" class="btn">Главная страница</a></div>
</body>
</html>